* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.addb {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 40px;
    margin-top: 20px;
    border: 1px #e3e3e3 solid;
}

.ti {
    width: 100%;
    height: 60px;
    background-color: white;
    padding-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

.ti input {
    width: 70%;
    background-color: #f2f5f7;
    border: none;
    height: 35px;
    text-indent: 1em;
    float: left;
}

.fushu {
    width: 100%;
    padding-left: 2%;
    padding-right: 3%;
    padding-top: 20px;
    position: relative;
}

.fushu span {
    font-size: 18px;
    color: #666666;
}

.fushu p:nth-of-type(1){
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
}

.fushu p>span{
    float: left;
}

.fushu p>textarea{
    font-size: 16px;
    width: 70%;
    height: 80px;
    float: left;
    background-color: #f2f5f7;
}

.fushu select:first-of-type {
    width: 13%;
    height: 35px;
    font-size: 16px;
    display: inline-block;
    background-color: #f2f5f7;
}

.w-e-text-container {
    height: 400px !important;
}

.pb_fa {
    margin-top: 20px;
    width: 100%;
    position: relative;
}

.pb_fa button:first-of-type {
    position: relative;
    left: 90%;
    width: 13%;
    height: 35px;
    font-size: 16px;
    background-color: #00bff3;
    color: white;
    cursor: pointer;
}

.pb_fa button:first-of-type:hover {
    background-color: #85c5ee;
}

.fushu input {
    width: 70%;
    border: 1px solid #00BFF3;
    border-radius: 3px;
}