.zong{
    width:90%;
    background: #f5f6f7;
    margin: 0px auto;
    margin-top: 20px;
}

.zong::after{
    content: "";
    display: block;
    clear: both;
}

.left{
    width:30%;
    display: inline-block;
    float:left;
}

#left-top{
    width: 100%;
    background-color: white;
    border:1px #e3e3e3 solid;
    padding: 20px;
    box-sizing: border-box;
}

.tablog{
    margin-top: 20px;
    width: 100%;
    background-color: white;
    border:1px #e3e3e3 solid;
    padding: 20px;
    box-sizing: border-box;
}

.tablogul a{
    color: #888;
}

.right{
    width:68%;
    border: 1px #e3e3e3 solid;
    display: inline-block;
    float:right;
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
}
.ltop{
    width:350px;
    height:100px;
    padding: 0px 20px;
    box-sizing: border-box;
}
ul,li{
    padding:0;
    margin:0;
    list-style:none;
}
.lut li{
    width: 20%;
    text-align: center;
    float: left;
}
.lut li span{
    display: inline-block;
}
.lcenter{
    width:95%;
    height: 60px;
    margin: 0px auto;
    margin-top: 30px;
}
.lbottom{
    margin: 0px auto;
    margin-top: 20px;
    width:90%;
    height: 50px;
}

.lbottom button{
    width:32%;
}

.rtop{
    width:98%;
    height: 80px;
    border: 1px white solid;
    margin-left: 20px;
    margin-top: 30px;
}

.rtitle .title{
    font-size: 28px;
    font-weight: bold;
}
.rcenter{
    width:98%;
    height: 600px;
    border: 1px white solid;
    margin-left: 20px;
    margin-top: 30px;
}
.rcenter .title{
    font-size: 20px;
    font-weight:bold;
    margin-top: 10px;
}
.rcenter .title{
    font-size: 20px;
    font-weight:bold;
    margin-top: 10px;
}
.rcenter .nei{
    text-indent: 2em;
}
.rbottom{
    width:98%;
    height: 40px;
    border: 1px white solid;
    margin-left: 20px;
    margin-top: 30px;
    background:rgba(222,235,246,0.3) ;
}

#ult li{
    float: left;
    margin-left:50px;
    width: 80px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}
#ult li:hover{
    background:rgba(222,235,246,1) ;
}
.pinglun{
    width:100%;
    height: 60px;
    border: 1px white solid;
    margin-left: 20px;
    margin-top: 30px;
}
.pinglunnei{
    width:98%;
}
.plul li{
    margin-left: 20px;
    margin-top: 20px;
}
a{
    text-decoration: none;
}
.tablogul li{
    margin-top: 20px;
    margin-left: 30px;
}