#main{
	width: 80%;
	margin: 0px auto;
	margin-top: 20px;
}

#main::after{
	content: "";
	display: block;
	clear: both;
}

#main-ul{
	display: inline-block;
	width: 10%;
	border: 1px #E3E3E3 solid;
	float: left;
	background-color: white;
	list-style: none;
	color: #333;
	cursor: default;
	height: 740px;
}

#main-ul li{
	text-align: center;
	height: 40px;
	line-height: 40px;
	letter-spacing: 5px;
	font-weight: 700;
	margin-bottom: 2px;
}

.main-hoverli{
	color: white;
	background-color: #00BFF3;
}
.main-clickli{
	color: white;
	background-color: #00BFF3;
}

#main-centre{
	display: inline-block;
	width: 60%;
	margin-left: 2.5%;
	float: left;
	background-color: #f5f6f7;	
}

#centre-search{
	height: 75px;
	display: inline-block;
	background-color: white;
	border: 1px #E3E3E3 solid;
	border-bottom: 1px #00BFF3 solid;
	padding: 20px 80px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
}

#centre-search button{
	background-color: #00BFF3;
	color: white;
    box-sizing: border-box;
}

#centre-blog{
	background-color: white;
	width: 100%;
	height: 520px;
	border: 1px #E3E3E3 solid;
	border-top: 1px #00BFF3 solid;
	border-bottom: 1px #00BFF3 solid;
}

.blog{
	height: 130px;
	width: 100%;
	border-bottom: 1px #E3E3E3 solid;
	padding: 20px;
	box-sizing: border-box;
	cursor: pointer;
	transition: all 1s;
}

.blog>p{
	width: 100%;
	height: 26px;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 18px;
	font-weight: 900;
}

.blog>span{
	display: block;
	width: 100%;
	height: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 14px;
	color: #8d8d8a;
	margin: 7px 0px;
}

.blog-user{
	display: inline-block;
	width: 15%;
	height: 30px;
	box-sizing: border-box;
	float: left;
}

.user-img{
	width: 30px;
	height: 30px;
	display: inline-block;
	border: 1px #e3e3e3 solid;
	border-radius: 15px;
	float: left;
	overflow: hidden;
}

.blog-user>span{
	display: inline-block;
	height: 30px;
	line-height: 30px;
	margin-left: 5px;
	float: left;
}

.user-img img{
	width: 100%;
}

.blog-msg{
	float: right;
	height: 30px;
	width: 15%;
}

.blog-msg span{
	display: inline-block;
	line-height: 30px;
}

.blog-msg span:nth-of-type(1){
	margin-left: 10px;
}

.blog-msg span:nth-of-type(2){
	margin-left: 2px;
	color: #5c7dd4;
}

.blog-msg span:nth-of-type(3){
	margin-left: 10px;
}

.blog-msg span:nth-of-type(4){
	margin-left: 2px;
	color: #5c7dd4;
}

#centre-paging{
	background-color: white;
	width: 100%;
	height: 60px;
	margin-top: 20px;
	border: 1px #E3E3E3 solid;
	border-top: 1px #00BFF3 solid;
	padding: 10px;
	box-sizing: border-box;
}

.pag{
	display: inline-block;
	margin: 0px;
	padding: 0px;
	margin-left: 20%;
}
.pag li{
	display: inline-block;
	margin: 0px;
	padding: 0px;
	margin-right: 5px;
}
.pag li button{
	width: 35px;
	height: 35px;
	border: 1px solid #949494;
	background-color: white;
}

#main-right{
	display: inline-block;
	width: 25%;
	float: right;
	background: white;
	background: #f5f6f7;
}

#right-top{
	background-color: white;
	border: 1px #E3E3E3 solid;
	padding: 15px;
	box-sizing: border-box;
	height: 360px;
}

#right-bot{
	background-color: white;
	border: 1px #E3E3E3 solid;
	margin-top: 20px;
	padding: 15px;
	box-sizing: border-box;
	height: 360px;
}

#right-top>p,#right-bot>p{
	padding: 0px;
	margin: 0px;
	height: 18px;
	line-height: 18px;
	font-size: 18px;
	border-left: 2px #00BFF3 solid;
	text-indent: 8px;
 }

#right-top>p>span{
	float: right;
	display: inline-block;
	height: 19px;
	line-height: 19px;
	width: 80px;
	font-size: 14px;
	color: #3e99ea;
	padding: 0px 3px;
	box-sizing: border-box;
	background-color: rgba(62,153,234,0.2);
	cursor: pointer;
}

#right-top>p>span:hover{
	background-color: rgba(62,153,234,0.4);
}

#right-top ul,#right-bot ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
	margin-top: 20px;
}

#right-top ul>li,#right-bot ul>li{
	height: 90px;
	border: 1px #ccc solid;
	margin-top: 10px;
	padding: 8px;
	box-sizing: border-box;
}

#right-top ul>li>div,#right-bot ul>li>div{
	width: 100%;
	height: 50px;
}

#right-top ul>li>div>div,#right-bot ul>li>div>div{
	display: inline-block;
	width: 50px;
	height: 50px;
	border: 1px #e3e3e3 solid;
	border-radius: 25px;
	float: left;
	overflow: hidden;
	cursor: pointer;
}

#right-top ul>li>div>div>img,#right-bot ul>li>div>div>img{
	width: 100%;
}

#right-top ul>li>div>span:nth-of-type(1),#right-bot ul>li>div>span:nth-of-type(1){
	float: left;
	width: 75%;
	margin-left: 10px;
	font-weight: 600;
 }

#right-top ul>li>div>span:nth-of-type(2),#right-bot ul>li>div>span:nth-of-type(2){
	float: right;
}

#right-top ul>li>p,#right-bot ul>li>p{
	width: 100%;
	color: #888;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}