* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.dle {
    background-color: #00bff3;
    color: white;
}

.li {
    background-color: #00bff3;
    color: white;
    /* border-left: #FF4500 2px solid; */
}

.bolg1 {
    width: 80%;
    margin: 0 auto;
    background-color: #f5f6f7;
}

.bolg1:after {
    content: "";
    display: block;
    clear: both;
}

.ybyb:after {
    content: "";
    display: block;
    clear: both;
}

.bolgf {
    float: left;
    width: 20%;
    border: 1px #e3e3e3 solid;
    background-color: white;
    height: 617px;
}

.bolgf1 {
    width: 100%;
    border: 0.5px #F5F6F7 solid;
}

.bolgf1 img {
    width: 100%;
    margin-top: 10px;
}

.bolgf ul {
    margin: 0px;
    padding: 0px;
    border: 0.5px #F5F6F7 solid;
}

.bolgf ul li {
    list-style: none;
    width: 100%;
    height: 50px;
    line-height: 50px;
    cursor: default;
    font-size: 15px;
    text-align: center;
    margin-top: 2px;
}

.bolgr {
    float: left;
    width: 77%;
    height: 617px;
    margin-left: 2%;
    background-color: white;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px #e3e3e3 solid;
}

.bolgr2 {
    float: left;
    width: 77%;
    margin-left: 2%;
    height: 650px;
    background-color: white;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px #e3e3e3 solid;
    display: none;
}

.ulsh {
    border-bottom: #F5F6F7 1.5px solid;
}

.ulsh:after {
    content: "";
    display: block;
    clear: both;
}

.ulsh li {
    list-style: none;
    display: inline-block;
    float: left;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin-right: 30px;
    color: #8C8C8C;
}

.bolgrs {
    width: 100%;
    height: 50px;
    background-color: #f2f5f7;
    margin-top: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20%;
    padding-right: 20%;
}

.bolgrsz {
    width: 100%;

    height: 100%;
    position: relative;
}

.bolgrsz input:first-of-type {
    width: 70%;
    height: 100%;
    position: relative;
    top: -1px;
    text-indent: 1em;
    border: #C0C0C0 0.5px solid;
    border-radius: 3px;
}

.bolgrsz input:last-of-type {
    width: 25%;
    height: 100%;
    margin-left: 2%;
    border: #C0C0C0 0.5px solid;
    border-radius: 3px;
    background-color: #87CEEB;
    color: whitesmoke;
    font-size: 15px;
    font-weight: bolder;
}

.lih {
    color: red;
}

.lic {
    border-bottom: red 1px solid;
}

.mybolgall {
    width: 100%;
    height: 400px;
}

.mybolgli {
    width: 0px;
    height: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: #F2F5F7 1.5px solid;
}

.ybyb {
    width: 100%;
    height: 100%;
}

.ybyb div:first-of-type {
    float: left;
}

.ybyb div:last-of-type {
    float: right;
}

.ybyb p {
    font-size: 17px;
    color: #666666;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

.ybyb div span {
    font-size: 16px;
    margin-right: 20px;
}

.ybyb div:first-of-type span {
    color: #999999;
}

.ybyb div:last-of-type span:nth-of-type(1),.ybyb div:last-of-type span:nth-of-type(2) {
    color: #00BFF3;
    cursor: pointer;
}

.ybyb div:last-of-type span:last-of-type {
    color: #C12E2A;
    cursor: pointer;
}

#centre-paging{
    background-color: white;
    width: 100%;
    height: 60px;
    margin-top: 20px;
    margin-bottom: 2px;
    padding: 10px;
    box-sizing: border-box;
    display: none;
}

.pag{
    display: inline-block;
    margin: 0px;
    padding: 0px;
    margin-left: 15%;
}
.pag li{
    display: inline-block;
    margin: 0px;
    padding: 0px;
    margin-right: 5px;
}
.pag li button{
    width: 35px;
    height: 35px;
    border: 1px solid #949494;
    background-color: white;
}