.center {
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    background-color: #f5f6f7;
}

.center:after{
    content: "";
    display: block;
    clear: both;
}

.title span{
    color: #1B9AF7;
    display: inline-block;
    font-size: 16px;
    float: right;
    width: 15%;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

.title span:hover{
    color: #3bcef6;
}

.dleft {
    float: left;
    background-color: white;
    width: 20%;
    height: 622px;
    border: 1px #e3e3e3 solid;
}

.dleft ul {
    margin: 0px;
    padding: 0px;
    border: 0.5px #F5F6F7 solid;
}

.dleft ul li {
    list-style: none;
    width: 100%;
    height: 50px;
    line-height: 50px;
    cursor: default;

}

.dleft ul li span:nth-of-type(2) {
    display: inline-block;
    height: 50px;
    line-height: 25px;
}

.li {
    background-color: #3bcef6;
    color: white;
}

.dle {
    background-color: #3bcef6;
    color: white;
}

.dright {
    float: left;
    background-color: white;
    width: 77%;
    border: 0.5px #F5F6F7 solid;
    margin-left: 2%;
}

.dtdiv {
    width: 100%;
    background-color: #f5f6f7;
}

.dtdiv>ul {
    margin: 0px;
    padding: 0px;
    height: 501px;
    border: 0.5px #F5F6F7 solid;
    background-color: #f5f6f7;
}

.dtdiv>ul li {
    list-style: none;
    width: 0px;
    height: 0px;
    line-height: 80px;
    cursor: pointer;
    margin-top: 20px;
    border: 1px #85c5ee solid;
    border-radius: 5px;
    background-color: white;
    overflow: hidden;
}

.ul1 li{
    padding: 0px;
    margin: 0px;
}

.ul1 li span{
    font-size: 18px;
    display: inline-block;
    width: 100%;
    text-align: center;
    line-height: 50px;
}

/*页码*/
#centre-paging{
    background-color: white;
    width: 100%;
    height: 60px;
    margin-top: 20px;
    border: 1px #E3E3E3 solid;
    border-top: 1px #00BFF3 solid;
    padding: 10px;
    box-sizing: border-box;
    display: none;
}

.pag{
    display: inline-block;
    margin: 0px;
    padding: 0px;
    margin-left: 20%;
}
.pag li{
    display: inline-block;
    margin: 0px;
    padding: 0px;
    margin-right: 5px;
}
.pag li button{
    width: 35px;
    height: 35px;
    border: 1px solid #949494;
    background-color: white;
}