        *{
			margin: 0px;
			padding: 0px;
			box-sizing: border-box;
		}
		.div1:after{
			content: "";
			display: block;
			clear: both;
		}

		body{
			background-color: #f5f6f7;
		}
		.div1{
			margin-top: 40px;
			width: 80%;
			margin: 0 auto;
		}
		.dleft{
			float: left;
			background-color: white;
			width: 20%;
		}
		.dright{
			float: left;
			background-color: white;
			width: 79.5%;
			margin-bottom: 20px;
			border:0.5px #F5F6F7 solid;
		}
		.dleft ul{
			margin: 0px;
			padding: 0px;
			text-indent: 1em;
			border:0.5px #F5F6F7 solid;
		}
		.dleft ul li{
			list-style: none;
			width: 100%;
			height: 50px;
			line-height: 50px;
			cursor: default;
			
		}
		
		.dleft ul li span{
			display: inline-block;
			height: 50px;
			line-height: 50px;
		}
		.dle{
			background-color:rgba(51,153,234,0.1);
			color: #85c5ee;
		}
		.p1{
			font-size: 20px;
			font-weight: bold;
			margin-left: 5%;
			margin-right: 5%;
			padding-top: 10px;
			padding-bottom: 30px;
			border-bottom: #DCDCDC 1px solid;
		}
		.imghead{
			margin-left: 5%;
			width: 10%;
			height: 300px;
			float: left;
		}
		.imghead p{
			width: 100%;
			color: cornflowerblue;
			font-size: 17px;
			text-align: center;
		}
		.imghead img{
			width: 100%;
			border-radius: 50%;
			
		}
		.xx{
			margin-left: 1%;
			margin-right: 5%;
			width: 79%;
			float: left;
			height: 300px;
		}
		.xx1{
			padding-bottom: 20px;
			border-bottom: #DCDCDC 1px solid;
		}
		.xx1 span{
			font-size: 15px;
			display: inline-table;
			margin-right: 2%;
			margin-bottom: 10px;
		}
		.xx1 span:first-of-type{
			color: #666666;
			font-weight: bold;
			margin-bottom: 20px;
		}
		.xx1 span:nth-of-type(4){
			color: #666666;
		}
		.xx1 span:last-of-type{
			color: #6495ED;
			cursor: pointer;
		}
		
		.li{
			background-color:#85c5ee;
			color: white;
		}
		.pyou{
			float: right;
			color: #5BC0DE;
		}
		.pyou:hover{
			cursor: pointer;
		}
		.xx2{
			padding-top: 20px;
			padding-bottom: 30px;
		}
		.xx2 p{
			margin-bottom: 20px;
		}

		/*收藏 样式*/
		.rhead{
			margin-top: 20px;
			margin-left: 3%;
			width: 100%;
			height: 50px;
			padding-top: 15px;
			padding-bottom: 10px;
			padding-left: 10%;
			border-top: #F2F5F7 1px solid;
			border-bottom: #F2F5F7 1px solid;
		}
		.rhead p{
			display: inline-block;
			color: #122B40;
			font-size: 14px;
			margin-right: 5%;
		}
		.scboq{
			width: 100%;
			height: 550px;
			padding-left: 5%;
			padding-right: 5%;
		}
		.boti{
			height: 120px;
			width: 100%;
			padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 1%;
			margin-top: 10px;
			background-color: #F5F6F7;
		}
		.titlebo{
			display: inline-block;
			color: #000000;
			font-size: 16px;
			font-weight: bold;
			height: 25px;
		}
		.boti button{
			border:none;
			width: 10%;
			float: right;
		}
		.zhaiyao{
			width: 100%;
			height: 50px;
		}
		.author span{
			display: inline-block;
			margin-right: 1%;
		}

		/*我的关注*/
		.care{
			width: 100%;
			padding-left: 3%;
			padding-right: 3%;
		}
		.carehead{
			width: 100%;
			height: 70px;
			border-bottom: #F2F5F7 1px solid;
			padding-top: 30px;
			padding-left:2%;
		}
		.carer{
			color: #080808;
			font-size: 19px;
			font-weight: bold;
			float: left;
		}
		.caref{
			float: right;
			font-size: 14px;
			color: #555555;
		}
		.careall{
			width: 100%;
		}
		.careli{
			width: 100%;
			height: 100px;
			padding-right: 3%;
			padding-top: 20px;
			padding-bottom: 20px;
			border-bottom: #F2F5F7 1px solid;
		}
		.careli img{
			width: 50px;
			height: 50px;
			margin-right: 3%;
			border-radius: 50%;
		}
		.careli span:first-of-type{
			font-size: 18px;
			color: #000000;
		}
		.quguan{
			display: inline-block;
			float: right;
			height: 30px;
			width: 10%;
			line-height: 30px;
			color: #3C3C3C;
			text-align: center;
			border:1px #F2F5F7 solid;
			border-radius: 3px;
			margin-top: 15px;
            cursor: pointer;
		}
        .quguan:hover{
            color: white;
            background-color:#1B9AF7;
        }

        /*我的粉丝*/
        .fans{
            width: 100%;
            padding-left: 3%;
            padding-right: 3%;
        }
        .fanshead{
            width: 100%;
            height: 70px;
            border-bottom: #F2F5F7 1px solid;
            padding-top: 30px;
            padding-left:2%;
        }
        .fansr{
            color: #080808;
            font-size: 19px;
            font-weight: bold;
            float: left;
        }
        .fansf{
            float: right;
            font-size: 14px;
            color: #555555;
        }
        .fansall{
            width: 100%;
        }
        .fansli{
            width: 100%;
            height: 100px;
            padding-right: 3%;
            padding-top: 20px;
            padding-bottom: 20px;
            border-bottom: #F2F5F7 1px solid;
        }
        .fansli img{
            width: 50px;
            height: 50px;
            margin-right: 3%;
            border-radius: 50%;
        }
        .fansli span:first-of-type{
            font-size: 18px;
            color: #000000;
        }
        .dainguan{
            display: inline-block;
            float: right;
            height: 30px;
            width: 10%;
            line-height: 30px;
            color: #3C3C3C;
            text-align: center;
            border:1px #F2F5F7 solid;
            border-radius: 3px;
            margin-top: 15px;
        }

        /*浏览样式*/
        .browsehead{
            margin-top: 20px;
            margin-left: 3%;
            width: 100%;
            height: 50px;
            padding-top: 15px;
            padding-bottom: 10px;
            padding-left: 10%;
            border-top: #F2F5F7 1px solid;
            border-bottom: #F2F5F7 1px solid;
        }
        .browsehead p{
            display: inline-block;
            color: #122B40;
            font-size: 14px;
            margin-right: 5%;
        }
		.quanshan{
			cursor: pointer;
		}
        .browsescboq{
            width: 100%;
            padding-left: 5%;
            padding-right: 5%;
			padding-bottom: 30px;
        }
        .browseboti{
            height: 120px;
            width: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 1%;
            margin-top: 10px;
            background-color: #F5F6F7;
        }
        .browsetitlebo{
            display: inline-block;
            color: #000000;
            font-size: 16px;
            font-weight: bold;
            height: 25px;
        }
        .browseboti button{
            border:none;
            width: 10%;
            float: right;
        }
        .browsezhaiyao{
            width: 100%;
            height: 50px;
        }
        .browseauthor span{
            display: inline-block;
            margin-left: 2%;
        }
		/*收藏fen*/
		.liufen{
			width: 100%;
			height: 60px;
			margin-top: 20px;
			margin-bottom: 20px;
			padding-top: 20px;
		}
		.liupage{
			width: 30%;
			height: 100%;
			margin: 0 auto;

		}
		.liupage li{
			display: inline-block;
			width: 20%;
			height: 40px;
			text-align: center;
			line-height: 40px;
			border:1px #F2F5F7 solid;
			cursor: pointer;
			border-radius: 3px;
		}
		.liupage li:hover{
			border: #00BFF3 1px solid;
		}
		/*粉丝fen*/
		.fansfen{
			width: 100%;
			height: 60px;
			margin-top: 20px;
			margin-bottom: 20px;
			padding-top: 20px;
		}
		.fanspage{
			width: 30%;
			height: 100%;
			margin: 0 auto;

		}
		.fanspage li{
			display: inline-block;
			width: 20%;
			height: 40px;
			text-align: center;
			line-height: 40px;
			border:1px #F2F5F7 solid;
			cursor: pointer;
			border-radius: 3px;
		}
		.fanspage li:hover{
			border: #00BFF3 1px solid;
		}
		/*carefen*/
		.carefen{
			width: 100%;
			height: 60px;
			margin-top: 20px;
			margin-bottom: 20px;
			padding-top: 20px;
		}
		.carepage{
			width: 30%;
			height: 100%;
			margin: 0 auto;

		}
		.carepage li{
			display: inline-block;
			width: 20%;
			height: 40px;
			text-align: center;
			line-height: 40px;
			border:1px #F2F5F7 solid;
			cursor: pointer;
			border-radius: 3px;
		}
		.carepage li:hover{
			border: #00BFF3 1px solid;
		}

		/*浏览fen*/
		.browsefen{
			width: 100%;
			height: 60px;
			margin-top: 20px;
			margin-bottom: 20px;
			padding-top: 20px;
		}
		.browsepage{
			width: 30%;
			height: 100%;
			margin: 0 auto;

		}
		.browsepage li{
			display: inline-block;
			width: 20%;
			height: 40px;
			text-align: center;
			line-height: 40px;
			border:1px #F2F5F7 solid;
			cursor: pointer;
			border-radius: 3px;
		}
		.browsepage li:hover{
			border: #00BFF3 1px solid;
		}

        h3{
            width: 100%;
            height: 100px;
            text-align: center;
            color: #888;
            margin-top: 10px;

        }


		/*密码*/
		.mima{
			width: 100%;
			padding-left: 5%;
			padding-right: 3%;
			height: 500px;
			margin-top:20px;
		}
		.mima input{
			display:inline-block;
			height:40px;
			width: 50%;
			border:1px solid #00BFF3;
			border-radius: 3px;
			margin-top: 10px;
		}
		.mima input:last-of-type{
			display:inline-block;
			height:40px;
			width: 10%;
			border:1px solid #00BFF3;
			border-radius: 3px;
			margin-top: 20px;
			margin-left: 50%;
		}
		.mima span{
			display: inline-block;
			font-size: 14px;
			color: red;
			margin-left: 1%;
		}


