<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>写博客</title>
		<link href="//at.alicdn.com/t/font_1803890_br7y3itdnoi.css" type="text/css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-theme.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/public.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/addblog.css}" />
		<script type="text/javascript" th:src="@{/js/jquery-1.12.4.js}"></script>
		<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/wangEditor.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/public.js}"></script>
		<script type="text/javascript" th:src="@{/js/addblog.js}"></script>
		<script type="text/javascript" th:inline="javascript">
			var ctxPath = [[@{/}]];
		</script>
	</head>
	<body>
	<!-- Header -->
	<div id="head">
		<div id="head-logo">
			<img src="img/blog.png" th:src="@{/img/blog.png}" />
		</div>
		<ul id="head-ul">
			<li>主页</li><li>我的博客</li><li>写博客</li><li>消息中心<span class="msgcount">99</span></li><li>个人中心</li>
		</ul>
		<div id="head-user">
			<input type="hidden" name="loginUid" th:value="${session.loginUser?.uid}">
			<div id="head-img">
				<img th:if="${session.loginUser != null}" th:src="@{'/upload/'+${session.loginUser.uimage}}" />
				<img th:src="@{/img/userhead.png}" th:if="${session.loginUser == null}"/>
			</div>
			<span th:if="${session.loginUser != null}" th:text="${session.loginUser?.uname}"></span>
			<span th:if="${session.loginUser == null}">未登录</span>
			<div id="user-login">
				<span th:if="${session.loginUser != null}" class="btn">注销</span>
				<span th:if="${session.loginUser == null}" class="btn">登录</span>
			</div>
		</div>
	</div>
		
		<div class="addb">
			<div class="ti">
				<input class="form-control" type="text" name="btitle" placeholder="请输入文章标题" maxlength="100" th:value="${blog?.btitle}">
				<!--<button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="right" data-content="请填写博客标题"></button>-->
				<!--<button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="top" data-content="请多写点内容"></button>-->
			</div>
		    <div id="demo01"></div>
			<input type="hidden" th:value="${blog?.bcontent}"/>
			<div class="fushu" >
				<!--<button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="right" data-content="请选择博客类型"></button>-->
				<!--<button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="right" data-content="请填写博客摘要"></button>-->
				<p>
					<span>摘要：</span>
					<textarea class="form-control" rows="3" th:text="${blog?.babstract}"></textarea>
				</p>
				<span>
					文章类型:
				</span>
				<select class="form-control">
					<option value="0">请选择</option>
				</select>
				<input th:if="${blog eq null}" type="hidden" value="0"/>
				<input th:if="${blog != null}" type="hidden" th:value="${blog?.btid}"/>
				<p class="pb_fa"><button class="form-control">发布博客</button> </p>
			</div>
		</div>
		
		<div id="foot" style="margin-top: 20px;">
			<p>
				<span><i class="iconfont icon-qq"></i>QQ:<a href="#">2807728147</a></span>
				<span><i class="iconfont icon-weixin"></i>Wechat:<a href="#">17687974843</a></span>
				<span><i class="iconfont icon-github"></i>GitHub:<a href="https://github.com/lsjdegit/blogsystem.git">源码</a></span>
			</p>
		</div>
		<div class="popover fade right in" id="popover575669" role="tooltip" style="left: 984.65px; top: 97px;"><div class="arrow"></div><h3 class="popover-title" style="display: none;"></h3><div class="popover-content">请填写博客标题</div></div>
		<div class="popover fade bottom in" id="popover748664" role="tooltip" style="left: 1187.86px; top: 596px;"><div class="arrow"></div><h3 class="popover-title" style="display: none;"></h3><div class="popover-content">请填写博客内容</div></div>
		<div class="popover fade right in" id="popover647756" role="tooltip" style="left: 1022.35px; top: 609px;"><div class="arrow"></div><h3 class="popover-title" style="display: none;"></h3><div class="popover-content">请填写博客摘要</div></div>
		<div class="popover fade right in" id="popover19436" role="tooltip" style="left: 430.22px; top: 708px;"><div class="arrow"></div><h3 class="popover-title" style="display: none;"></h3><div class="popover-content">请选择博客类型</div></div>
	</body>
</html>
