<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="//at.alicdn.com/t/font_1803890_br7y3itdnoi.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-theme.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/public.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/adminindex.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/adminblog.css}" />
    <script type="text/javascript" th:src="@{/js/jquery-1.12.4.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/public.js}"></script>
    <script type="text/javascript" th:src="@{/js/adminindex.js}"></script>
    <script type="text/javascript" th:src="@{/js/adminblog.js}"></script>
    <script type="text/javascript" th:src="@{/calendar/WdatePicker.js}"></script>
    <script type="text/javascript">
        var ctxPath = [[@{/}]];

    </script>
    <title></title>
</head>
<style type="text/css">

</style>
<!-- Header -->
<div id="head">
    <input type="hidden" name="loginuimage" th:value="${session.loginUser?.uimage}">
    <div id="head-logo">
        <img src="img/blog.png"/>
    </div>
    <ul id="head-uli">
        <li id="boke">博客管理</li><li id="bozhu">博主管理</li>
    </ul>
    <div id="head-user">
        <div id="head-img">
            <img src="img/hyxd.png" th:src="@{/img/hyxd.jpg}" />
        </div>
        <span>管理员</span>
    </div>
</div>
<!--center中部-->
<div class="zong">


    <div class="right">
        <div id="article">
            <div class="rtop">
                <div class="rtitle">
                    <p class="title" th:text="${blog.btitle}">tomcat本地服务器搭建+本地项目</p>
                    <div class="zhong" style="width: 100%; height: 25px;background:rgba(222,235,246,1) ; ">
                        <p style="margin-left: 20px; float: left;" >作者：<span th:text="${blog.user.uname}">UncoDong</span></p>
                        <span style="float: left; margin-left: 20px;">  创作时间：<span th:text="${blog.bcreatetime}">2020-5-10 22:45:04</span></span>
                        <span style="float: left; margin-left: 20px;">  浏览量：<span th:text="${blog.bnumber}">0</span></span>
                    </div>
                </div>
            </div>
            <input type="hidden" name="bcontent" th:value="${blog.bcontent}"/>
            <div class="rcenter">

            </div>
            <div class="rbottom">
                <button type="button" class="btn btn-danger" id="dai">有待考量</button>
                <button type="button" class="btn btn-info" id="sheng">审核通过</button>
            </div>
        </div>
           <input type="hidden" th:value="${blog.bid}" id="bid">

        </p>
        </li>
        </ul>
    </div>
</div>
</div>
</div>

<!--------------Footer--------------->
<div id="foot">
    <p>
        <span><i class="iconfont icon-qq"></i>QQ:<a href="#">2807728147</a></span>
        <span><i class="iconfont icon-weixin"></i>Wechat:<a href="#">17687974843</a></span>
        <span><i class="iconfont icon-github"></i>GitHub:<a href="https://github.com/lsjdegit/blogsystem.git">源码</a></span>
    </p>
</div>
</body>
</html>
