<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8">
		<title>管理员主页</title>
	</head>
	<style type="text/css">
		
	</style>
	<link href="//at.alicdn.com/t/font_1803890_br7y3itdnoi.css" type="text/css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" th:href="@{css/bootstrap-theme.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{css/public.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{css/adminindex.css}" />
	<script type="text/javascript" th:src="@{/js/jquery-1.12.4.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/public.js}"></script>
	<script type="text/javascript" th:src="@{/js/adminindex.js}"></script>
	<script type="text/javascript" th:src="@{/calendar/WdatePicker.js}"></script>
	<script type="text/javascript" th:inline="javascript">
		var ctxPath = [[@{/}]];
	</script>
	<body style="background-color: #F5F6F7;">
		
		<!-- Header -->
		<div id="head">
			<input type="hidden" name="loginuimage" th:value="${session.loginUser?.uimage}">
			<div id="head-logo">
				<img src="img/blog.png"/>
			</div>
			<ul id="head-uli">
				<li id="boke">博客管理</li><li id="bozhu">博主管理</li>
			</ul>
			<div id="head-user">
				<input type="hidden" name="loginUid" th:value="${session.loginUser?.uid}">
				<input type="hidden" name="loginuimage" th:value="${session.loginUser?.uimage}">
				<div id="head-img">
					<img th:if="${session.loginUser != null}" th:src="@{'/upload/'+${session.loginUser.uimage}}" />
					<img th:src="@{/img/userhead.png}" th:if="${session.loginUser == null}"/>
				</div>
				<span th:if="${session.loginUser != null}" th:text="${session.loginUser?.uname}"></span>
				<span th:if="${session.loginUser == null}">未登录</span>
				<div id="user-login">
					<span th:if="${session.loginUser != null}" class="btn">注销</span>
					<span th:if="${session.loginUser == null}" class="btn">登录</span>
				</div>
			</div>
		</div>
		
		<div class="admmain" style="margin-top: 10px;">
			<div class="admmain_er">
				<ul>
					<li id="yi">已审核</li><li id="dai">待审核</li>
				</ul>
			</div>
			<div class="admin_suo">
				<div class="suo_nei">
					<span>时间</span> <input type="text" class="Wdate" name="date" readonly="readonly" onclick="WdatePicker();" required >
						<span>类型</span>

						<select>

						</select>

					<!-- Button trigger modal -->
					<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" style="width:60px;height: 25px;line-height: 5px">
						添加
					</button>



						<input   type="text" name="btitle" style="margin-left: 10px" /><button id="sou">搜索</button>
				</div>
			</div>
			<div class="bolgall">
				<!--<div class="mybolgli">-->
					<!--<div class="ybyb">-->
						<!--<p title="查看">菜鸟必进 extends（继承） 和 implements（实现） 的区别</p>-->
						<!--<div><img th:src="@{/img/hyxd.jpg}"><span>凛冽零</span></div>-->
						<!--<div><span>2020-05-9</span> <span class="iconfont icon-liulan">8</span><span class="iconfont icon-liulan">6</span><span class="iconfont icon-liulan">4</span></div>-->
					<!--</div>-->
				<!--</div>-->

				<!--<div class="mybolgli">-->
					<!--<div class="ybyb">-->
						<!--<p title="查看">菜鸟必进 extends（继承） 和 implements（实现） 的区别</p>-->
						<!--<div><img th:src="@{/img/hyxd.jpg}"><span>凛冽零</span></div>-->
						<!--<div><span>2020-05-9</span> <span class="iconfont icon-liulan">8</span><span class="iconfont icon-liulan">6</span><span class="iconfont icon-liulan">4</span></div>-->

					<!--</div>-->
				<!--</div>-->

				<!--<div class="mybolgli">-->
					<!--<div class="ybyb">-->
						<!--<p title="查看">菜鸟必进 extends（继承） 和 implements（实现） 的区别</p>-->
						<!--<div><span>2020-05-9</span> <span class="iconfont icon-liulan">8</span><span class="iconfont icon-liulan">6</span><span class="iconfont icon-liulan">4</span></div>-->
						<!--<div><span>博主：</span><span>凛冽零</span></div>-->
					<!--</div>-->
				<!--</div>-->

			</div>
		</div>



		<div class="admmainzhu" style="margin-top: 10px;">
			<div class="admmain_er">
				<ul>
					<li id="quan">所有博主</li><li id="shen">专家申请</li>
				</ul>
			</div>
			<div class="admin_suo">
				<div class="suo_nei">

					<input name="uname" type="text" class="form-control" id="user">
					<button type="button" class="btn btn-info" id="sousuo">搜索</button>

				</div>
			</div>
			<div class="bolgallzhu">
				<!--<div class="mybolgli">-->
				<!--<div class="ybybzhu">-->
				<!--<div class="ybnat">-->
					<!--<img th:src="@{/img/hyxd.jpg}">-->
					<!--<img th:src="@{/img/username.png}">-->
					<!--<span>凛冽零</span>-->
					<!--<span>1653533573@qq.com</span>-->
				<!--</div>-->
				<!--</div>-->
				<!--</div>-->

				<!--<div class="mybolgli">-->
					<!--<div class="ybybzhu">-->
						<!--<div class="ybnat">-->
							<!--<img th:src="@{/img/hyxd.jpg}">-->
							<!--<img th:src="@{/img/username.png}">-->
							<!--<span>凛冽零</span>-->
							<!--<span>1653533573@qq.com</span>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->

				<!--<div class="mybolgli">-->
					<!--<div class="ybybzhu">-->
						<!--<div class="ybnat">-->
							<!--<img th:src="@{/img/hyxd.jpg}">-->
							<!--<img th:src="@{/img/username.png}">-->
							<!--<span>凛冽零</span>-->
							<!--<span>1653533573@qq.com</span>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->



			</div>
		</div>
		<div id="centre-paging">
			<ul class="pag">
				<li id="one"><button onclick="change(this)" style="width: 50px;height: 35px;" disabled="disabled">首页</button></li>
				<li id="prev"><button onclick="change(this)" disabled="disabled">上</button></li>
				<li id="next"><button onclick="change(this)">下</button></li>
				<li id="end"><button onclick="change(this)" style="width: 50px;height: 35px;">尾页</button></li>
			</ul>
			<input type="hidden" id="totalPage" value="1"/>
			<input type="hidden" id="currentPage" value="1"/>
		</div>

		<input type="hidden" id="bstatusid" value="1"/>
		<input type="hidden" id="isexpert" value="null">

		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">添加博客类型</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label for="exampleInputEmail1">博客类型</label>
							<input type="text" class="form-control" id="exampleInputEmail1" name="tname">
						</div>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						<button type="button" class="btn btn-primary" id="addblogtype">添加</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel2">审核专家</h4>
					</div>
					<div class="modal-body"style="height:200px">
                     <div class="left">

					 </div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" id="youdai">有待考量</button>
						<button type="button" class="btn btn-primary" id="jingshen">晋升专家</button>
					</div>
				</div>
			</div>
		</div>
		
		<div id="foot" style="margin-top: 20px;">
			<p>
				<span><i class="iconfont icon-qq"></i>QQ:<a href="#">2807728147</a></span>
				<span><i class="iconfont icon-weixin"></i>Wechat:<a href="#">17687974843</a></span>
				<span><i class="iconfont icon-github"></i>GitHub:<a href="https://github.com/lsjdegit/blogsystem.git">源码</a></span>
			</p>
		</div> 
		
	</body>
	<style type="text/css">
		.iconfont{
		   font-family:"iconfont" !important;
		   font-size:14px !important;
		   font-style:normal;
		}
	</style>
</html>
