<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>博主个人资料</title>
	</head>
	<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
	<style type="text/css">
		
	</style>
	<link href="//at.alicdn.com/t/font_1803890_br7y3itdnoi.css" type="text/css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-theme.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/public.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/homepage.css}"/>
	<script type="text/javascript" th:src="@{/js/jquery-1.12.4.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/public.js}"></script>
	<script type="text/javascript" th:src="@{/js/homepage.js}"></script>
	<script type="text/javascript" th:inline="javascript">
		var ctxPath = [[@{/}]];
	</script>
	<body style="background-color: #F5F6F7;">

	<!-- Header -->
	<div id="head">
		<div id="head-logo">
			<img src="img/blog.png" th:src="@{/img/blog.png}" />
		</div>
		<span th:if="${session.loginUser.uname != 'admin'}">
		<ul id="head-ul">
			<li>主页</li><li>我的博客</li><li>写博客</li><li>消息中心<span class="msgcount">99</span></li><li>个人中心</li>
		</ul>
		</span>
		<span th:if="${session.loginUser.uname == 'admin'}">
		<ul id="head-uli">
			<li id="boke">博客管理</li><li id="bozhu">博主管理</li>
		</ul>
		</span>

		<div id="head-user">
			<input type="hidden" name="loginUid" th:value="${session.loginUser?.uid}">
			<input type="hidden" name="loginuimage" th:value="${session.loginUser?.uimage}">
			<div id="head-img">
				<img th:if="${session.loginUser != null}" th:src="@{'/upload/'+${session.loginUser.uimage}}" />
				<img th:src="@{/img/userhead.png}" th:if="${session.loginUser == null}"/>
			</div>
			<span th:if="${session.loginUser != null}" th:text="${session.loginUser?.uname}"></span>
			<span th:if="${session.loginUser == null}">未登录</span>
			<div id="user-login">
				<span th:if="${session.loginUser != null}" class="btn">注销</span>
				<span th:if="${session.loginUser == null}" class="btn">登录</span>
			</div>
		</div>
	</div>

		<div class="homemain">
			<div class="homehead">
				<div class="homeimg">
					<img th:src="@{'/upload/'+${user.uimage}}">
				</div>
				<div class="homejie">
					<div class="ming">
						<span  th:text="${user.uname}">沉默王三</span><span><img th:if="${user.isexpert == 1}" th:src="@{/img/expert.png}" /></span>
					</div>
					<span class="wenzijianjie">简介：</span>
					<p th:text="${user.intro}">「沉默王三」原创公号作者，《web全栈开发进阶之路》图书作者，CSDN 2019 年度博客之星；专注于有趣的 Java 技术以及有益的程序人生，祝你快速进阶成为技术大牛，拿到大厂 offer，绝不手软。</p>
				</div>
				<div class="homeguan">
					<button th:if="${session.loginUser?.uid != user.uid && isFans}" type="button" class="btn btn-default">取消关注</button>
					<button th:if="${session.loginUser?.uid != user.uid && !isFans}" type="button" class="btn btn-danger">关注</button>
					<input type="hidden" name="buid" th:value="${user.uid}" />
				</div>
			</div>

			<div class="homezhu">
				<div class="homezhufen">
					<ul>
						<li>博客 <span th:text="${user.blogs.size()}">3</span></li>
						<li>收藏 <span th:text="${user.collects.size()}">3</span></li>
						<li>粉丝 <span th:text="${user.fans.size()}">6</span></li>
						<li>关注 <span th:text="${user.cares.size()}">6</span></li>
					</ul>
				</div>
				<div class="homeli">
					<!--我的博客-->
					<div class="mybolgli" th:each="ublog,status:${user.blogs}" style="display:none">
						<div class="ybyb" style="cursor: pointer;" th:onclick="'blogview('+${ublog.bid}+')'" >
							<p class="ybybp1" th:text="${ublog.btitle}">菜鸟必进 extends（继承） 和 implements（实现） 的区别</p>
							<div><p class="ybybp2" th:text="${ublog.babstract}">原创公号作者，《web全栈开发进阶之路》图书作者，CSDN 2019 年度博客之星</p></div>
							<div><span th:text="${ublog.bcreatetime}">2020-05-9</span> <span class="iconfont icon-liulan" th:text="${ublog.bnumber}">65</span></div>
						</div>
					</div>

					<!--收藏的博客-->
					<div class="mybolgli1" th:each="ucoll,status:${user.collects}"  style="display: none">
						<div class="ybyb" style="cursor: pointer;" th:onclick="'blogview('+${ucoll.blog.bid}+')'">
							<p class="ybybp1" th:text="${ucoll.blog.btitle}">菜鸟必进 extends（继承） 和 implements（实现） 的区别</p>
							<div><p class="ybybp2" th:text="${ucoll.blog.babstract}">原创公号作者，《web全栈开发进阶之路》图书作者，CSDN 2019 年度博客之星</p></div>
							<div><span th:text="${ucoll.blog.bcreatetime}">2020-05-9</span> <span class="iconfont icon-liulan" th:text="${ucoll.blog.bnumber}">65</span></div>
						</div>
					</div>

					<!--粉丝-->
					<div class="mybolgli2" th:each="ufans,status:${user.fans}" style="display: none">
						<div class="ybyb" style="cursor: pointer;" th:onclick="'bozhu('+${ufans.uid}+')'">
							<img th:src="@{'/upload/'+${ufans.uimage}}" style="width: 40px;height: 40px; border-radius: 50%; float: left">
							<span class="ybybp1" th:text="${ufans.uname}" style="display: inline;font-size: 12px; float: left;width: 20%;margin-left: 20px;margin-top: 10px"></span>
							<!--<span class="ybybp2" th:text="${ufans.sex}" style="display: inline-block;font-size: 12px;float: left"></span>-->
						</div>
					</div>

					<!--我的关注-->
					<div class="mybolgli3" th:each="ucares,status:${user.cares}" style="display: none">
						<div class="ybyb" style="cursor: pointer;" th:onclick="'bozhu('+${ucares.uid}+')'">
							<!--th:src="@{'/upload/'+${blog.user.uimage}}"-->
							<img th:src="@{'/upload/'+${ucares.uimage}}" style="width: 40px;height: 40px; border-radius: 50%; float: left">
							<span class="ybybp1" th:text="${ucares.uname}" style="display: inline;font-size: 12px; float: left;width: 20%;margin-left: 20px;margin-top: 10px"></span>
						</div>
					</div>
					<!--</div>-->
					<!--<div class="mybolgli">-->
						<!--<div class="ybyb">-->
							<!--<p class="ybybp1">菜鸟必进 extends（继承） 和 implements（实现） 的区别</p>-->
							<!--<div><p class="ybybp2">原创公号作者，《web全栈开发进阶之路》图书作者，CSDN 2019 年度博客之星</p></div>-->
							<!--<div><span>2020-05-9</span> <span class="iconfont icon-liulan">65</span></div>-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="mybolgli">-->
						<!--<div class="ybyb">-->
							<!--<p class="ybybp1">菜鸟必进 extends（继承） 和 implements（实现） 的区别</p>-->
							<!--<div><p class="ybybp2">原创公号作者，《web全栈开发进阶之路》图书作者，CSDN 2019 年度博客之星</p></div>-->
							<!--<div><span>2020-05-9</span> <span class="iconfont icon-liulan">65</span></div>-->
						<!--</div>-->
					<!--</div>-->
					<input type="hidden" th:value="${user.uid}" id="uid">

				</div>
			</div>
		</div>
		
		<div id="foot" style="margin-top: 20px;">
			<p>
				<span><i class="iconfont icon-qq"></i>QQ:<a href="#">2807728147</a></span>
				<span><i class="iconfont icon-weixin"></i>Wechat:<a href="#">17687974843</a></span>
				<span><i class="iconfont icon-github"></i>GitHub:<a href="https://github.com/lsjdegit/blogsystem.git">源码</a></span>
			</p>
		</div> 
	</body>
	<style type="text/css">
		.iconfont{
		   font-family:"iconfont" !important;
		   font-size:10px !important;
		   font-style:normal;
		}
	</style>
	<style type="text/css">
		
	</style>
</html>
