<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<!--js-->
		<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-theme.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/public.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
		<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery-1.12.4.js}"></script>
		<script type="text/javascript" th:src="@{/js/public.js}"></script>
		<script type="text/javascript" th:src="@{/js/index.js}"></script>
		<link th:href="@{//at.alicdn.com/t/font_1803890_evr8wbrabhg.css}" type="text/css" rel="stylesheet" />
		<script type="text/javascript" th:inline="javascript">
			var ctxPath = [[@{/}]];
		</script>
		<title></title>
	</head>
	<body>
		<!-- Header -->
		<div id="head">
			<div id="head-logo">
				<img src="img/blog.png" th:src="@{/img/blog.png}" />
			</div>
			<ul id="head-ul">
				<li>主页</li><li>我的博客</li><li>写博客</li><li>消息中心</li><li>个人中心</li>
			</ul>
			<div id="head-user">
				<input type="hidden" name="loginUid" th:value="${session.loginUser?.uid}">
				<div id="head-img">
					<img th:if="${session.loginUser != null}" th:src="@{'/upload/'+${session.loginUser.uimage}}" />
					<img th:src="@{/img/userhead.png}" th:if="${session.loginUser == null}"/>
				</div>
				<span th:if="${session.loginUser != null}" th:text="${session.loginUser?.uname}"></span>
				<span th:if="${session.loginUser == null}">未登录</span>
				<div id="user-login">
					<span th:if="${session.loginUser != null}" class="btn">注销</span>
                    <span th:if="${session.loginUser == null}" class="btn">登录</span>
				</div>
			</div>
		</div>

		<div id="main">
			<input type="hidden" name="btid" value="0">
			<ul class="list-group" id="main-ul">
				<li value="0">推荐</li>
				<li value="0">动态</li>
				<li th:each="blogtype,status:${blogtypeList}" th:text="${blogtype.tname}" th:value="${blogtype.btid}"></li>
			</ul>
			<div id="main-centre">
				<div id="centre-search">
					<div>
						<div class="input-group">
							<input type="text" class="form-control" placeholder="搜索推荐博客">
							<span class="input-group-btn">
								<button class="btn btn-default iconfont icon-552cc1e587668" type="button"></button>
							</span>
						</div>
					</div>
				</div>
				<div id="centre-blog">
					<!--<div class="blog">-->
						<!--<p>标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题</p>-->
						<!--<span>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容</span>-->
						<!--<div>-->
							<!--<div class="blog-user">-->
								<!--<div class="user-img">-->
									<!--<img src="img/hyxd.jpg" th:src="@{/img/hyxd.jpg}" />-->
								<!--</div>-->
								<!--<span>用户名</span>-->
							<!--</div>-->
							<!--<div class="blog-msg">-->
								<!--<span class="iconfont icon-liulan"></span>-->
								<!--<span>1314</span>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
				</div>
				<div id="centre-paging">
					<ul class="pag">
						<li id="one"><button onclick="change(this)" style="width: 50px;height: 35px;" disabled="disabled">首页</button></li>
						<li id="prev"><button onclick="change(this)" disabled="disabled">上</button></li>
						<li id="next"><button onclick="change(this)">下</button></li>
						<li id="end"><button onclick="change(this)" style="width: 50px;height: 35px;">尾页</button></li>
					</ul>
					<input type="hidden" id="totalPage" value="1"/>
					<input type="hidden" id="currentPage" value="1"/>
				</div>
			</div>
			<div id="main-right">
				<div id="right-top">
					<p>
						博客专家
						<span>
							专家申请
						</span>
					</p>
					<ul>
						<li th:each="user,status:${eUserList}">
							<div>
								<div>
									<img src="img/hyxd.jpg" th:src="@{'/upload/'+${user.uimage}}" />
								</div>
								<span th:text="${user.uname}">用户名</span>
								<span>博客&nbsp;<span th:text="${user.blogs.size()}"></span>&nbsp;篇</span>
							</div>
							<p th:text="${user.intro}">个人简介个人简介个人简介个人简介个人简介个人简介</p>
						</li>
					</ul>
				</div>
				<div id="right-bot">
					<p>
						博客排行榜
					</p>
					<ul>
						<li th:each="user,status:${guserList}" th:if="${status.index} lt 3">
							<div>
								<div>
									<img src="img/hyxd.jpg" th:src="@{'/upload/'+${user.uimage}}" />
								</div>
								<span th:text="${user.uname}">用户名</span>
								<span>获赞&nbsp;<span th:text="${gList[status.index]}"></span>&nbsp;</span>
							</div>
							<p th:text="${user.intro}">个人简介个人简介个人简介个人简介个人简介个人简介</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
		<!--------------Footer--------------->
		<div id="foot">
			<p>
				<span><i class="iconfont icon-qq"></i>QQ:<a href="#">2807728147</a></span>
				<span><i class="iconfont icon-weixin"></i>Wechat:<a href="#">17687974843</a></span>
				<span><i class="iconfont icon-github"></i>GitHub:<a href="https://github.com/lsjdegit/blogsystem.git">源码</a></span>
			</p>
		</div>

	</body>
	<script type="text/javascript">
  	$(function(){

  	})
  </script>
</html>
