<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-theme.min.css}"/>
		    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
		    <link rel="stylesheet" type="text/css" th:href="@{/js/jquery-easyui-1.2.6/themes/default/easyui.css}">
			<link rel="stylesheet" type="text/css" th:href="@{/js/jquery-easyui-1.2.6/demo/demo.css}">
			<link rel="stylesheet" type="text/css" th:href="@{/js/jquery-easyui-1.2.6/themes/icon.css}" />
			<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
			<script type="text/javascript" th:src="@{/js/jquery-easyui-1.2.6/jquery-1.7.2.min.js}"></script>
			<script type="text/javascript" th:src="@{/js/jquery-easyui-1.2.6/jquery.easyui.min.js}"></script>
			<script type="text/javascript" th:src="@{/js/login.js}"></script>
		<script type="text/javascript" th:inline="javascript">
			var ctxPath = [[@{/}]];
		</script>
		<title></title>
	</head>
	<body style="border: 1px rgba(0,0,0,0) solid;background: url(img/login.jpg) no-repeat;background-size: 100%;background-position-x: 0px;background-position-y: 0px; ">
		<div class="center">
			<p class="title" style="letter-spacing: 5px;font-size: 28px;margin: 0px;height: 50px;line-height: 50px;width: 100%;text-align: center;">Login</p>
				<form class="form-horizontal" id="bodyfrom" method="post">
					<div class="divuser">
						 <p class="uname">用户名</p>
						 <input name="uname" type="text" class="form-control" id="user"
									style="width: 320px; margin-top: 10px;" placeholder="请输入用户名" required="required">
				   </div>
				   <div class="divpwd">
						<p class="upwd">密码</p>
						<input name="upassword" type="password" class="form-control" id="password"
									style="width: 320px; margin-top: 10px;" placeholder="请输入密码" required="required">
				   </div>
				   <div class="divyz">
						<p style="font-size: 18px;">验证码</p>
						<input type="text" class="form-control" id="yanzheng" placeholder="请输入验证码" required="required"style="width: 200px; margin-top: 10px;">
					   <img onclick="getvCode()" id="verifyimg" th:src="@{/verifyCode}">

				   </div>
				    <button type="button" class="btn btn-info" id="login" title="点击此按钮登录账号">登录</button>
				   <div class="mo">
					  <span>还没有注册账号？</span><a href="register" style="color: red; margin-right: 10px;font-size: 14px;"title="点击此按钮跳转到注册页面">去注册!</a>
				   </div>
				</form>
		</div>
	</body>
</html>
