<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>我的博客</title>
	</head>
	<link href="//at.alicdn.com/t/font_1803890_br7y3itdnoi.css" type="text/css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" th:href="@{css/mybloog.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{css/bootstrap-theme.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{css/public.css}"/>
	<script type="text/javascript" th:src="@{js/jquery-1.12.4.js}"></script>
	<script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{js/public.js}"></script>
	<script type="text/javascript" th:src="@{js/myblog.js}"></script>
	<body style="background-color: #F5F6F7;">
		
		<!-- Header -->
		<div id="head">
			<div id="head-logo">
				<img src="img/blog.png" />
			</div>
			<ul id="head-ul">
				<li>主页</li><li>我的博客</li><li>写博客</li><li>消息中心</li><li>个人中心</li>
			</ul>
			<div id="head-user">
				<div id="head-img">
					<img src="img/1.png" th:src="@{/img/hyxd.jpg}" />
				</div>
				<span>用户名</span>
				<div id="user-login">
					<span class="btn">注销</span>
				</div>
			</div>
		</div>
		
		
		<div class="bolg1" style="margin-top: 20px;">
			<div class="bolgf">
				<div class="bolgf1">
					<img src="img/mybolg.png" th:src="@{/img/mybolg.png}"/>
				</div>
				<ul>
					<li>博客管理</li>
					<li>评论管理</li>
					<li>博客打赏</li>
				</ul>
			</div>
			<div class="bolgr">
				<ul class="ulsh">
					<li>全部<span>(1)</span></li>
					<li>待审核<span>(0)</span></li>
					<li>未通过<span>(0)</span></li>
				</ul>
				
				<div class="bolgrs">
					<div class="bolgrsz">
						<input type="text" name="" placeholder="请输入关键字"/> <input type="button" value="搜索" id="serch"/>
					</div>
				</div>
				<div class="mybolgall">
					<!-- 遍历我的文章 -->
					<div class="mybolgli">
						<div class="ybyb">
							<p title="编辑">菜鸟必进 extends（继承） 和 implements（实现） 的区别</p>
							<div><span>2020-05-9</span> <span class="iconfont icon-liulan">8</span><span class="iconfont icon-liulan">6</span><span class="iconfont icon-liulan">4</span></div>
							<div><span>查看</span> <span>删除</span></div>
						</div>
					</div>
					
					<div class="mybolgli">
						<div class="ybyb">
							<p>菜鸟必进 extends（继承） 和 implements（实现） 的区别</p>
							<div><span>2020-05-9</span> <span class="iconfont icon-liulan">4</span><span class="iconfont icon-liulan">6</span><span class="iconfont icon-liulan">3</span></div>
							<div><span>查看</span> <span>删除</span></div>
						</div>
					</div>
					<div class="mybolgli">
						<div class="ybyb">
							<p>菜鸟必进 extends（继承） 和 implements（实现） 的区别</p>
							<div><span>2020-05-9</span> <span class="iconfont icon-liulan">5</span><span class="iconfont icon-liulan">5</span><span class="iconfont icon-liulan">5</span></div>
							<div><span>查看</span> <span>删除</span></div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		
		<div id="foot" style="margin-top: 20px;">
			<p>
				<span><i class="iconfont icon-qq"></i>QQ:<a href="#">2807728147</a></span>
				<span><i class="iconfont icon-weixin"></i>Wechat:<a href="#">17687974843</a></span>
				<span><i class="iconfont icon-github"></i>GitHub:<a href="https://github.com/lsjdegit/blogsystem.git">源码</a></span>
			</p>
		</div> 
	</body>
	<style type="text/css">
		.iconfont{
		   font-family:"iconfont" !important;
		   font-size:10px !important;
		   font-style:normal;
		}
	</style>
</html>
