<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>我的博客</title>
	</head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-theme.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/public.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/myblog.css}">
	<script type="text/javascript" th:src="@{/js/jquery-1.12.4.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/public.js}"></script>
	<script type="text/javascript" th:src="@{/js/myblog.js}"></script>
	<link th:href="@{//at.alicdn.com/t/font_1803890_evr8wbrabhg.css}" type="text/css" rel="stylesheet" />
	<script type="text/javascript" th:inline="javascript">
		var ctxPath = [[@{/}]];
	</script>
	<body style="background-color: #F5F6F7;">
	<!-- Header -->
	<div id="head">
		<div id="head-logo">
			<img src="img/blog.png" th:src="@{/img/blog.png}" />
		</div>
		<ul id="head-ul">
			<li>主页</li><li>我的博客</li><li>写博客</li><li>消息中心<span class="msgcount">99</span></li><li>个人中心</li>
		</ul>
		<div id="head-user">
			<input type="hidden" name="loginUid" th:value="${session.loginUser?.uid}">
			<input type="hidden" name="loginuimage" th:value="${session.loginUser?.uimage}">
			<div id="head-img">
				<img th:if="${session.loginUser != null}" th:src="@{'/upload/'+${session.loginUser.uimage}}" />
				<img th:src="@{/img/userhead.png}" th:if="${session.loginUser == null}"/>
			</div>
			<span th:if="${session.loginUser != null}" th:text="${session.loginUser?.uname}"></span>
			<span th:if="${session.loginUser == null}">未登录</span>
			<div id="user-login">
				<span th:if="${session.loginUser != null}" class="btn">注销</span>
				<span th:if="${session.loginUser == null}" class="btn">登录</span>
			</div>
		</div>
	</div>
		
		
		<div class="bolg1" style="margin-top: 20px;">
			<div class="bolgr">
				<input type="hidden" name="bstatusid" value="1"/>
				<ul class="ulsh">
					<li value="1">已审核</li>
					<li value="0">待审核</li>
					<li value="2">未通过</li>
				</ul>
				
				<div class="bolgrs">
					<div class="bolgrsz">
						<input type="text" name="" placeholder="请输入关键字"/> <input type="button" value="搜索" id="serch"/>
					</div>
				</div>
				<div class="mybolgall">
					<!-- 遍历我的文章
					<div class="mybolgli">
						<div class="ybyb">
							<p title="编辑">菜鸟必进 extends（继承） 和 implements（实现） 的区别</p>
							<div><span>2020-05-9</span> <span class="iconfont icon-liulan">8</span><span class="iconfont icon-liulan">6</span><span class="iconfont icon-liulan">4</span></div>
							<div><span>查看</span> <span>删除</span></div>
						</div>
					</div> -->
				</div>
				<div id="centre-paging">
					<ul class="pag">
						<li id="one"><button onclick="change(this)" style="width: 50px;height: 35px;" disabled="disabled">首页</button></li>
						<li id="prev"><button onclick="change(this)" disabled="disabled">上</button></li>
						<li id="next"><button onclick="change(this)">下</button></li>
						<li id="end"><button onclick="change(this)" style="width: 50px;height: 35px;">尾页</button></li>
					</ul>
					<input type="hidden" id="totalPage" value="1"/>
					<input type="hidden" id="currentPage" value="1"/>
				</div>
			</div>
		</div>
		
		<div id="foot" style="margin-top: 20px;">
			<p>
				<span><i class="iconfont icon-qq"></i>QQ:<a href="#">2807728147</a></span>
				<span><i class="iconfont icon-weixin"></i>Wechat:<a href="#">17687974843</a></span>
				<span><i class="iconfont icon-github"></i>GitHub:<a href="https://github.com/lsjdegit/blogsystem.git">源码</a></span>
			</p>
		</div>
		<!-- Modal -->
		<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<p id="myModalLabel" style="text-align: center;font-size: 16px;">打赏详情</p>
					</div>
					<div class="modal-body">
						<ul class="excepul">
							<li>
								<h3>暂无打赏</h3>
							</li>
							<!--<li>-->
								<!--<img th:src="@{/upload/zshead.jpg}">-->
								<!--<span>zs</span>-->
								<!--<span>打赏了</span>-->
								<!--<span>5</span>-->
								<!--<span>元</span>-->
								<!--<span>2020-05-02 12:30:00</span>-->
							<!--</li>-->
						</ul>
					</div>
					<div class="modal-footer">
						<span style="display: inline-block;margin-right: 5%;font-size: 18px;font-weight: bold;">总计：<span class="totalMoney" style="color: red;font-size: 25px;margin-right: 5px">0</span>元</span>
						<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
					</div>
				</div>
			</div>
		</div>
	</body>
	<style type="text/css">
		.iconfont{
		   font-family:"iconfont" !important;
		   font-size:10px !important;
		   font-style:normal;
		}
	</style>
</html>
