<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>个人中心</title>

	<link href="//at.alicdn.com/t/font_1803890_br7y3itdnoi.css" type="text/css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/personal.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-theme.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/public.css}"/>
	<script type="text/javascript" th:src="@{/js/jquery-1.12.4.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/public.js}"></script>
	<script type="text/javascript" th:src="@{/js/personal.js}"></script>
	</head>
	<style type="text/css">
		.iconfont{
		   font-family:"iconfont" !important;
		   font-size:16px !important;
		   font-style:normal;
		}	
	</style>
	<script type="text/javascript" th:inline="javascript">
		var ctxPath = [[@{/}]];
	</script>
	<body style="background-color: #f5f6f7;">

	<!-- Header -->
	<div id="head">
		<div id="head-logo">
			<img src="img/blog.png" th:src="@{/img/blog.png}" />
		</div>
		<ul id="head-ul">
			<li>主页</li><li>我的博客</li><li>写博客</li><li>消息中心<span class="msgcount">99</span></li><li>个人中心</li>
		</ul>
		<div id="head-user">
			<input type="hidden" name="loginUid" th:value="${session.loginUser?.uid}">
			<div id="head-img">
				<img th:if="${session.loginUser != null}" th:src="@{'/upload/'+${session.loginUser.uimage}}" />
				<img th:src="@{/img/userhead.png}" th:if="${session.loginUser == null}"/>
			</div>
			<span th:if="${session.loginUser != null}" th:text="${session.loginUser?.uname}"></span>
			<span th:if="${session.loginUser == null}">未登录</span>
			<div id="user-login">
				<span th:if="${session.loginUser != null}" class="btn">注销</span>
				<span th:if="${session.loginUser == null}" class="btn">登录</span>
			</div>
		</div>
	</div>
		
		
		<div class="div1" style="margin-top: 20px;">
			<div class="dleft">
				<ul class="ul1">
					<li><span class="iconfont icon-gerenziliao"></span> <span>个人资料</span></li>
					<li><span class="iconfont icon-shoucang1"></span><span>我的收藏</span></li>
					<li><span class="iconfont icon-shoucang-not11"></span> <span>我的粉丝</span></li>
					<li><span class="iconfont icon-fensi"></span> <span>我关注的人</span></li>
					<li><span class="iconfont icon--"></span> <span>我的钱包</span></li>
					<li><span class="iconfont icon-liulan"></span> <span>浏览记录</span></li>
					<li><span class="iconfont icon-shezhi"></span> <span>账号设置</span></li>
				</ul>
			</div>
			<div class="dright">
				<p class="p1">个人资料</p>
				<div class="imghead">
					<img src="img/ly.jpg" alt="头像"  name="uimage"/>
					<!--<input type="file" class="file" name="file" id="file" style="display: none;" runat="server">
					<p><label for="file">修改头像</label></p>
					<button type="button" class="btn btn-info" id="btnUpload"  onclick="uploadImage()" value="上传">上传</button>-->
					<div>
						<div class="file" style="float: left;">
							<input type="file" name="file" id="file" runat="server" >
							<input type="hidden" name='expoid' id="expoid" value="${expoid}" class="form-control">
						</div>
						<div>
							<button type="button" class="btn btn-info" id="btnUpload"  onclick="uploadImage()" value="上传">上传</button>
						</div>
					</div>



				</div>
				<div class="xx">
					<div class="xx1">
						<span>用户名：凛冽零</span><br>
						<span>关注 0</span><span>粉丝 1</span><span>|</span><span>余额 0</span><span>充值</span>
					</div>
					<div class="xx2">
						<p>姓名：</p>
						<!-- Button to trigger modal -->
						<p class="pyou"><a href="#myModal" role="button" class="btn" data-toggle="modal">修改资料</a></p>
						<p>性别：</p>
						<p>年龄：</p>
						<p>邮箱：</p>
						<p>简介：</p>
					</div>

				</div>





				<!-- Modal -->
				<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<p id="myModalLabel" style="text-align: center;font-size: 16px;">修改信息</p>
								
							</div>
							<div class="modal-body">
								<form class="form-horizontal">

									<div class="form-group">
										<label for="inputname" class="col-sm-2 control-label">姓名</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" id="inputname" name="uname">
										</div>
									</div>

									<div class="form-group">
										<label for="inputage" class="col-sm-2 control-label">年龄</label>
										<div class="col-sm-10">
											<input type="number" name="age" class="form-control" id="inputage" oninput="if (value>100 || value<1){alert('非法输入！');value=''} " >
										</div>
									</div>

									<div class="form-group">
										<label for="inputemail" class="col-sm-2 control-label">Email</label>
										<div class="col-sm-10">
											<input type="email" class="form-control" id="inputemail" name="email">
										</div>
									</div>

									<div class="form-group">
										<div class="col-sm-offset-2 col-sm-10">
											<div class="checkbox">
												<label>
													<input type="radio" name="sex" value="男" >男 <input type="radio" name="sex" value="女" style="margin-left: 50px;">女
												</label>
											</div>
										</div>
									</div>

									<div class="form-group">
										<label for="inputintro" class="col-sm-2 control-label">简介</label>
										<div class="col-sm-10">
											<textarea class="form-control" rows="3" id="inputintro" name="intro"></textarea>
										</div>
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
								<button class="btn btn-primary" id="cun" data-dismiss="modal" aria-hidden="true">保存</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--<div class="liufen">
				<ul class="liupage">
					<li class="one">首页</li>
					<li class="prev">上</li>
					<li class="next">下</li>
					<li class="end">尾页</li>
				</ul>
				<input type="hidden" id="totalPage" value="1"/>
				<input type="hidden" id="currentPage" value="0"/>
			</div>-->
		</div>
		
		<!-- foot -->
		<div id="foot" style="margin-top: 20px;">
			<p>
				<span><i class="iconfont icon-qq"></i>QQ:<a href="#">2807728147</a></span>
				<span><i class="iconfont icon-weixin"></i>Wechat:<a href="#">17687974843</a></span>
				<span><i class="iconfont icon-github"></i>GitHub:<a href="https://github.com/lsjdegit/blogsystem.git">源码</a></span>
			</p>
		</div> 
	</body>
</html>
